VITE_FIREBASE_API_KEY="la_api_key_aqui"
VITE_FIREBASE_AUTH_DOMAIN="el_auth_domain"
VITE_FIREBASE_PROJECT_ID="el_project_id"
VITE_FIREBASE_STORAGE_BUCKET="el_storage_bucket"
VITE_FIREBASE_MESSAGING_SENDER_ID="el_sender_id"
VITE_FIREBASE_APP_ID="el_app_id"
VITE_FIREBASE_VAPID_KEY="LA_CADENA_VAPID_AQUI"